<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.avishkar2021">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cog_img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cog_img_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Avishkar2021"
        android:windowSoftInputMode="adjustResize"
        >
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:exported="true"
            android:noHistory="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.DisplayNoticeActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".user.UserNoticeActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".admin.FeedbackActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".user.ExperienceActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".user.ViewInterviewActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".admin.StudentDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".admin.AddContactsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".admin.NoticeActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".admin.AddCompaniesActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".admin.VerifyStudentsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".admin.AddStudentsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".user.MainActivity2"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Avishkar2021.NoActionBar" />
        <activity
            android:name=".user.SignUp"
            android:screenOrientation="portrait"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".user.SignIn"
            android:screenOrientation="portrait"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <service
            android:name=".activities.MyFirebaseMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>